.doc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 29px;
  border: 1px solid var(--border);
  font-size: 18px;
  line-height: 1.32;
  border-radius: 6px;

  &__name {
    color: var(--white-text);
  }

  &__size {
    color: var(--white-text-darken)
  }

  + .doc {
    margin-top: 8px;
  }
}