.doc {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 29px;
  border: 1px solid var(--border);
  font-size: 18px;
  line-height: 1.32;
  border-radius: 6px;
  transition: var(--transition);

  &__name {
    color: var(--white-text);
  }

  &__size {
    color: var(--white-text-darken);
  }

  + .doc {
    margin-top: 8px;
  }

  &:hover {
    border-radius: var(--sizes-border-radius, 6px);
    border: 1px solid rgba(38, 215, 144, 0.10);
    transition: var(--transition);
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(38, 215, 144, 0.30) 0%, rgba(38, 215, 144, 0.00) 100%);
    }

    .doc__name {
      color: var(--primary);
    }

    .doc__size {
      color: var(--white-text);
    }
  }

  &:active {
    background: linear-gradient(90deg, rgba(38, 215, 144, 0.18) 0%, rgba(38, 215, 144, 0.00) 100%);
  }
}
