header.header
  .header-burger 
    span
    span
    span
.top
  .container
    ul.breadcrumbs 
      li.breadcrumbs-item 
        a(href="#") Главная
      li.breadcrumbs-item 
        span Заявки
    .theme-choices 
      .theme-choices__thumb 
        +svgSprite(18,18, 'night')
    .logout
      +svgSprite(20, 20, 'logout')
    