.modal(data-modal="auth")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Авторизация
      form.modal-form.modal-form--top
        .form-group
          input(type="text").form-control 
          label.form-label(for="") Логин
            span *
        .form-group
          input(type="text").form-control 
          label.form-label(for="") Пароль
            span *
        .modal-action 
          button(disabled).btn.btn--big Войти в Личный кабинет
.modal(data-modal="add-payment")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Внести оплату
      form.modal-form
        .form-group
          input(type="text" value="Доктор Дент").form-control.is-filled 
          label.form-label(for="") Клиника
            span *
        .form-group
          input(type="text" value="Колобов Ипполит Вадимович").form-control.is-filled 
          label.form-label(for="") Врач
            span *
        .form-group
          input(type="text" value="Жданов Остап Арсеньевич").form-control.is-filled
          label.form-label(for="") Пациент
            span *
        .form-row 
          .form-group
            input(type="text").form-control.js-date-mask 
            label.form-label(for="") Дата
              span *
          .form-group.form-group-ruble
            input(type="text").form-control.js-price-input 
            label.form-label(for="") Сумма
              span *
        .modal-action 
          .btn.js-modal-close Отменить
          .btn.btn--primary Сохранить
.modal(data-modal="edit-payment")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Редактировать запись об оплате #3453
      form.modal-form
        .form-group
          input(type="text" value="Доктор Дент" disabled).form-control.is-filled
          label.form-label(for="") Клиника
            span *
        .form-group
          input(type="text" value="Колобов Ипполит Вадимович" disabled).form-control.is-filled 
          label.form-label(for="") Врач
            span *
        .form-group
          input(type="text" value="Жданов Остап Арсеньевич" disabled).form-control.is-filled
          label.form-label(for="") Пациент
            span *
        .form-row 
          .form-group
            input(type="text" value="15.09.2023").form-control.is-filled
            label.form-label(for="") Дата
              span *
          .form-group.form-group-ruble
            input(type="text" value="2 345").form-control.is-filled.js-price-input
            label.form-label(for="") Сумма
              span *
        .modal-action 
          .btn.js-modal-close Отменить
          .btn.btn--primary.js-modal-close Сохранить
.modal(data-modal="remove-payment")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Удалить запись об оплате?
      .modal-action 
          .btn.js-modal-close Да
          .btn.btn--primary.js-modal-close Нет
.modal(data-modal="3")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Оплата успешно внесена!
      .modal-action 
          .btn.btn--primary.js-popup-close Ок
.modal(data-modal="edit-summ")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Редактировать сумму к оплате
      form.modal-form
        .form-group.form-group--sm
          input(type="text").form-control 
          label.form-label(for="") Сумма
            span *
        .modal-action 
          .btn.js-modal-close Отменить
          .btn.btn--primary.js-modal-close Ок
.modal(data-modal="add-docs")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Предложить изменения
      .modal__desc Напишите, что нужно изменить в плане лечения
      form.modal-form
        .form-group
          input(type="text").form-control
          label.form-label Комментарий 
        .modal-docs 
          .docs 
            a(href="#").doc
              .doc__name Жданов.zip
              .doc__size 54.6 Кб
        .modal-action.modal-action--column 
          .btn.btn--big.btn--icon
            span Выбрать файлы
            +svgSprite(30, 30, 'plus-big')
          button(disabled ).btn.btn--big.btn--primary Предложить
.modal(data-modal="add-photo")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Добавить фото
      .modal-action.modal-action--column 
        .btn.btn--big.btn--icon
          span Выбрать файлы
          +svgSprite(30, 30, 'plus-big')
      form.modal-form
        .form-group
          input(type="text").form-control
          label.form-label Дата 
            span *
        .form-group
          input(type="text").form-control
          label.form-label Комментарий 
        .modal-action.modal-action--column 
          button(disabled).btn.btn--big.btn--primary Предложить
.modal(data-modal="print-edit")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Редактировать запись в очереди
      .modal__desc Если какие-то каппы не нужно печатать — отметьте их серым
      .modal-mouthguards
        .mouthguards
          .mouthguards-line 
            .mouthguards__symbol 
              +svgSprite(16, 16, 'plus')
            .mouthguards-list 
              .mouthguards__item.is-request 1
              .mouthguards__item.is-request 2
              .mouthguards__item.is-request 3
          .mouthguards-line 
            .mouthguards__symbol
              +svgSprite(16, 16, 'minus')
            .mouthguards-list 
              .mouthguards__item.is-request 1
              .mouthguards__item.is-request 2
              .mouthguards__item.is-request 3
      form.modal-form
        .form-group
          input(type="text" placeholder="Комментарий").form-control 
        .modal-action 
          .btn Отменить
          .btn.btn--primary Ок
.modal(data-modal="print-delete")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Удалить запись из очереди?
        .modal-action 
          .btn Да
          .btn.btn--primary Нет
.modal(data-modal="print-deleted")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Запись успешно удалена!
        .modal-action 
          .btn.btn--primary Ок
.modal(data-modal="print-changed")
  .modal-overlay 
  .modal-wrapper 
    .modal-content 
      .modal-close 
        +svgSprite(30, 30, 'close')
      .modal__title Запись успешно изменена!
        .modal-action 
          .btn.btn--primary Ок