.nav 
  .nav-main 
    a.nav__logo(href="#")
      img(src="images/logo.svg", alt="")
    .nav-list 
      a(href="payments.html").nav-item.is-active
        +svgSprite(30, 30, 'clients')
        span.nav-link Оплаты
      a(href="depts.html").nav-item 
        +svgSprite(30, 30, 'debts')
        span.nav-link Долги
  .nav-user 
    .nav-user__name Циванюк Ольга
    .nav-user__post Заведующий
  .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    
