.nav 
  .nav-main 
    a.nav__logo(href="#")
      img(src="images/logo.svg", alt="")
    .nav-list 
      a(href="doctor-orders.html").nav-item
        +svgSprite(30, 30, 'chat')
        span.nav-link Заявки
      a(href="doctor-patients.html").nav-item.is-active
        +svgSprite(30, 30, 'clients')
        span.nav-link Пациенты
      a(href="doctor-depts.html").nav-item 
        +svgSprite(30, 30, 'debts')
        span.nav-link Долги
  .nav-user 
    .nav-user__name Циванюк Ольга
    .nav-user__post Врач
  .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    
