doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/choices.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Долги'])
    .nav 
      .nav-main 
        a.nav__logo(href="#")
          img(src="images/logo.svg", alt="")
        .nav-list 
          a(href="payments.html").nav-item
            +svgSprite(30, 30, 'clients')
            span.nav-link Оплаты
          a(href="payments.html").nav-item.is-active 
            +svgSprite(30, 30, 'debts')
            span.nav-link Долги
      .nav-user 
        .nav-user__name Циванюк Ольга
        .nav-user__post Бухгалтер
      .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    main.main
      .content(data-role="tab")
        .container 
          h1.title Долги
          .tabs 
            a(href="depts.html").tabs-item.is-active(data-tab="clinics") Группировка по клиникам
            a(href="depts-all.html").tabs-item(data-tab="all") Показать все
              span 186
          .row 
            .dept-price
              .dept-price__title Долг
              .dept-price__num 1 000 000 ₽
                span 8 000 000 ₽
            .btn.btn--icon.btn--big.js-open-modal(data-modal="add-payment")
              span Внести оплату
              +svgSprite(30, 30, 'plus-big')
          .card 
            .card-body 
              .table-responsive
                .table.table-dept
                  .table-head 
                    .table-cell Клиника
                    .table-cell.table-cell--center Долг
                    .table-cell.table-cell--right Общая сумма
                    .table-cell
                  a(href="depts-clinics.html").table-row 
                    .table-celll.table-cell--light Доктор Дент
                    .table-cell.table-cell--right 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="depts-clinics.html").table-row 
                    .table-celll.table-cell--light TeethClinic
                    .table-cell.table-cell--right 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="depts-clinics.html").table-row 
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--right 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="depts-clinics.html").table-row 
                    .table-celll.table-cell--light Томсон
                    .table-cell.table-cell--right 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
    include components/footer
    include components/modal
    include includes/scripts