doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/choices.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Долги'])
    .nav 
      .nav-main 
        a.nav__logo(href="#")
          img(src="images/logo.svg", alt="")
        ul.nav-list 
          li.nav-item
            +svgSprite(30, 30, 'clients')
            a(href="payments.html").nav-link Оплаты
          li.nav-item.is-active 
            +svgSprite(30, 30, 'debts')
            a(href="depts.html").nav-link Долги
      .nav-user 
        .nav-user__name Циванюк Ольга
        .nav-user__post Бухгалтер
      .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    main.main
      .content(data-role="tab")
        .container 
          h1.title Долги
          .tabs 
            .tabs-item.is-active(data-tab="clinics") Группировка по клиникам
            .tabs-item(data-tab="all") Показать все
              span 186
          .tabs-content.is-open(data-tab="clinics")
            .row 
              .dept-price
                .dept-price__title Долг
                .dept-price__num 1 000 000 ₽
                  span 8 000 000 ₽
              .btn.btn--icon.btn--big.js-open-modal(data-modal="add-payment")
                span Внести оплату
                +svgSprite(30, 30, 'plus-big')
            .card 
              .card-body 
                .table-responsive
                  .table.table-dept
                    .table-head 
                      .table-cell Клиника
                      .table-cell.table-cell--center Долг
                      .table-cell.table-cell--right Общая сумма
                      .table-cell
                    a(href="depts-clinics.html").table-row 
                      .table-celll.table-cell--light Доктор Дент
                      .table-cell.table-cell--right 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
                    a(href="depts-clinics.html").table-row 
                      .table-celll.table-cell--light TeethClinic
                      .table-cell.table-cell--right 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
                    a(href="depts-clinics.html").table-row 
                      .table-cell.table-cell--light SmileClinic
                      .table-cell.table-cell--right 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
                    a(href="depts-clinics.html").table-row 
                      .table-celll.table-cell--light Томсон
                      .table-cell.table-cell--right 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
          .tabs-content(data-tab="all")
            .row 
              .search 
                input.form-control.search__input(type="text" placeholder="Поиск по ФИО")
              .btn.btn--big.btn--icon.js-open-modal(data-modal="add-payment") 
                span Внести оплату
                +svgSprite(30, 30, 'plus-big')
            .card 
              .card-body 
                .table-responsive
                  .table.table-dept
                    .table-head 
                      .table-cell Клиника
                      .table-cell.table-cell--center Долг
                      .table-cell.table-cell--right Общая сумма
                      .table-cell
                    a(href="depts-clinics.html").table-row 
                      .table-cell Доктор Дент
                      .table-cell 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
                    a(href="depts-clinics.html").table-row 
                      .table-cell TeethClinic
                      .table-cell 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
                    a(href="depts-clinics.html").table-row 
                      .table-cell SmileClinic
                      .table-cell 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
                    a(href="depts-clinics.html").table-row 
                      .table-cell Томсон
                      .table-cell 125 000 ₽
                      .table-cell.table-cell--right 1 000 000 ₽
                      .table-cell
                        .show-more
                              +svgSprite(7, 14, 'arrow-right')
            .more-btn 
              .btn.btn--big.btn--icon 
                span Загрузить 
                +svgSprite(30, 30, 'refresh')
            .pagination 
              .pagination-item.is-active 1
              .pagination-item 2
              .pagination-item 3
              .pagination-dots ...
              .pagination-item 4
    include components/footer
    include components/modal
    include includes/scripts