doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Долги','Доктор Дент'])
    .nav 
      .nav-main 
        a.nav__logo(href="#")
          img(src="images/logo.svg", alt="")
        ul.nav-list 
          li.nav-item
            +svgSprite(30, 30, 'clients')
            a(href="payments.html").nav-link Оплаты
          li.nav-item.is-active 
            +svgSprite(30, 30, 'debts')
            a(href="depts.html").nav-link Долги
      .nav-user 
        .nav-user__name Циванюк Ольга
        .nav-user__post Бухгалтер
      .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    main.main
      .content(data-role="tab")
        .container 
          h1.title Доктор Дент
          .row 
            .dept-price
              .dept-price__title Долг
              .dept-price__num 1 125 000 ₽
                span 1 000 000 ₽
            .btn.btn--icon.btn--big.js-open-modal(data-modal="add-payment")
              span Внести оплату
              +svgSprite(30, 30, 'plus-big')
          .card 
            .card-body 
              .table-responsive
                .table.table-dept
                  .table-head 
                    .table-cell Врач
                    .table-cell.table-cell--center Долг
                    .table-cell.table-cell--right Общая сумма
                    .table-cell
                  a(href="depts-doctor.html").table-row 
                    .table-celll.table-cell--light Дорофеева Виолетта
                    .table-cell 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="depts-doctor.html").table-row 
                    .table-celll.table-cell--light Комиссарова Илзе Вениаминовна
                    .table-cell 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="depts-doctor.html").table-row 
                    .table-celll.table-cell--light Русакова Симона Ивановна
                    .table-cell 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="depts-doctor.html").table-row 
                    .table-celll.table-cell--light Колобов Ипполит Вадимович
                    .table-cell 125 000 ₽
                    .table-cell.table-cell--right 1 000 000 ₽
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
  include components/footer
    include components/footer
    include components/modal
    include includes/scripts