doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Долги','Доктор Дент'])
    .nav 
      .nav-main 
        a.nav__logo(href="#")
          img(src="images/logo.svg", alt="")
        ul.nav-list 
          li.nav-item
            +svgSprite(30, 30, 'clients')
            a(href="payments.html").nav-link Оплаты
          li.nav-item.is-active 
            +svgSprite(30, 30, 'debts')
            a(href="depts.html").nav-link Долги
      .nav-user 
        .nav-user__name Циванюк Ольга
        .nav-user__post Бухгалтер
      .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    main.main
      .content(data-role="tab")
        .container 
          h1.title Доктор Дент
          .row 
            .dept-price
              .dept-price__title Долг
              .dept-price__num 1 125 000 ₽
                span 1 000 000 ₽
            .btn.btn--icon.btn--big
              span Внести оплату
              +svgSprite(30, 30, 'plus-big')
          .card 
            .card-body 
              .table-responsive
                table.table
                  thead 
                    tr 
                      th Врач
                      th Долг
                      th Общая сумма
                      th
                  tbody 
                    tr
                      td 
                        a(href="depts-doctor.html") Дорофеева Виолетта
                      td 125 000 ₽
                      td 1 000 000 ₽
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
                    tr
                      td 
                        a(href="depts-doctor.html") Комиссарова Илзе Вениаминовна
                      td 125 000 ₽
                      td 1 000 000 ₽
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
                    tr
                      td 
                        a(href="depts-doctor.html") Фомина Николь Пантелеймоновна
                      td 125 000 ₽
                      td 1 000 000 ₽
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
                    tr
                      td 
                        a(href="depts-doctor.html") Русакова Симона Ивановна
                      td 125 000 ₽
                      td 1 000 000 ₽
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
                    tr
                      td 
                        a(href="depts-doctor.html") Уваров Макар Миронович
                      td 125 000 ₽
                      td 1 000 000 ₽
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
    include components/footer
    include components/modal
    include includes/scripts