doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Заявки'])
    .nav 
      .nav-main 
        a.nav__logo(href="#")
          img(src="images/logo.svg", alt="")
        .nav-list 
          a(href="doctor-orders.html").nav-item.is-active 
            +svgSprite(30, 30, 'chat')
            span.nav-link Заявки
          a(href="doctor-patients.html").nav-item
            +svgSprite(30, 30, 'clients')
            span.nav-link Пациенты
          a(href="doctor-depts.html").nav-item
            +svgSprite(30, 30, 'debts')
            span.nav-link Долги
      .nav-user 
        .nav-user__name Циванюк Ольга
        .nav-user__post Врач
      .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    main.main
      .content(data-role="tab")
        .container 
          h1.title Заявки
          .row 
            .tabs 
              a(href="doctor-orders.html").tabs-item.is-active Новые
                span 7
              a(href="doctor-orders-processed.html").tabs-item Обработанные
                span 231
            .btn.btn--big.btn--icon
              span Новый пациент
              +svgSprite(30,30,'plus-big')
          .card
            .card-body 
              .table-responsive
                .table
                  .table-head 
                    .table-cell Номер
                    .table-cell.table-cell--center Дата
                    .table-cell Клиника
                    .table-cell Врач
                    .table-cell 
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="order.html").table-row 
                    .table-cell #32456
                    .table-cell.table-cell--light 23.09.2023
                    .table-cell.table-cell--light SmileClinic
                    .table-cell.table-cell--light Дорофеева Виолетта
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
          .btn.btn--big.btn--icon 
            span Загрузить
            +svgSprite(30, 30, 'refresh')
          .pagination 
            .pagination-item.is-active 1
            .pagination-item 2
            .pagination-item 3
            .pagination-dots ...
            .pagination-item 4

    include components/footer
    include includes/scripts