doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/choices.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Пациенты','Доктор Дент','Колобов Ипполит Вадимович'])
    include components/navigation-doctor
    main.main
      .content
        .container 
          h1.title Колобов Ипполит Вадимович
          .card 
            .card-body 
              .table-responsive
                .table.table-patient-single
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
    include components/footer
    include includes/scripts