doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body 


    ul 
      li 
        a(href="auth.html") Авторизация 
      li 
        a(href="orders.html") Заявки
      li 
        a(href="order.html") Заявка
      li 
        a(href="patients.html") Пациенты
      li 
        a(href="payments.html") Платежи
      li 
        a(href="depts.html") Долги
    br
    h2 Врач
    ul 
      li 
        a(href="doctor-patients.html") Cписок пациентов
      li 
        a(href="doctor-patient.html") Пациент
      li 
        a(href="doctor-depts.html") Долги
    br
    h2 Бухгалтер
    ul 
      li 
        a(href="depts.html") Долги
      li 
        a(href="depts-clinics.html") Долги клинки
      li 
        a(href="depts-doctor.html") Долги врача
      li 
        a(href="payment.html") Оплаты
      li 
        a(href="paymtn-patient.html") Оплаты пациент
      