doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    include components/navigation
    main.main
      .content(data-role="tab")
        .container 
          h1.title Заявки
          .tabs 
            .tabs-item.is-active(data-tab="1") Новые
               span 7
            .tabs-item(data-tab="2") На пациентов (архив)
              span 231
            .tabs-item(data-tab="3") Печать (архив)
              span 1233
            .tabs-item(data-tab="4") Изменение лечения (архив)
              span 43
          .tabs-content.is-open(data-tab="1")
            .card 
              .card-head 
                h2.card-title Новые пациенты
                  span 3
              .card-body 
                .table-responsive
                  table.table
                    thead 
                      tr 
                        th Номер
                        th Дата
                        th Клиника
                        th Врач
                        th
                    tbody 
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
          .tabs-content(data-tab="2")
            .card
              .card-body 
                .table-responsive
                  table.table
                    thead 
                      tr 
                        th Номер
                        th Дата
                        th Клиника
                        th Врач
                        th
                    tbody 
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                      tr
                        td #32456
                        td 23.09.2023
                        td SmileClinic
                        td Дорофеева Виолетта
                        td
                          .show-more
                            +svgSprite(7, 14, 'arrow-right')
                            .more-btn 
            .btn.btn--big.btn--icon 
              span Загрузить
            .pagination 
              .pagination-item.is-active 1
              .pagination-item 2
              .pagination-item 3
              .pagination-dots ...
              .pagination-item 4
    include components/footer
    include includes/scripts