doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Пациенты'])
    include components/navigation
    main.main
      .content
        .container 
          h1.title Пациенты
          .tabs 
            .tabs-item.is-active Группировка по клиникам
            .tabs-item Показать все
              span 186
          .row 
            .dept-price
              .dept-price__title Долг
              .dept-price__num 1 000 000 ₽
                span 8 000 000 ₽
            .btn.btn--icon.btn--big
              span Внести оплату
              +svgSprite(30, 30, 'plus-big')
          .card 
            .card-body 
              .table-responsive
                table.table
                  thead 
                    tr 
                      th Клиника
                      th.t-center.t-patients Пациентов
                      th
                  tbody 
                    tr
                      td SmileClinic
                      td.t-center.t-patients  143
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
                    tr
                      td TeethClinic
                      td.t-center.t-patients  143
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
                    tr
                      td Доктор Дент
                      td.t-center.t-patients  143
                      td.t-button
                        .show-more
                          +svgSprite(7, 14, 'arrow-right')
    include components/footer
    include includes/scripts