doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Пациенты'])
    include components/navigation
    main.main
      .content
        .container 
          h1.title Пациенты
          .tabs 
            a(href="patients.html").tabs-item Группировка по клиникам
            a(href="patients-all.html").tabs-item.is-active  Показать все
              span 186
          .row 
            .search 
              input.form-control.search__input(type="text" placeholder="Поиск по ФИО")
          .card 
            .card-body 
              .table-responsive
                .table.table-patient-single
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patient.html").table-row 
                    .table-celll.table-cell--light Вишняков Лев Матвеевич
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
          .more-btn 
            .btn.btn--big.btn--icon 
              span Загрузить 
              +svgSprite(30, 30, 'refresh')
          .pagination 
            .pagination-item.is-active 1
            .pagination-item 2
            .pagination-item 3
            .pagination-dots ...
            .pagination-item 4
    include components/footer
    include includes/scripts