doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Пациенты'])
    .nav 
      .nav-main 
        a.nav__logo(href="#")
          img(src="images/logo.svg", alt="")
        ul.nav-list 
          a(href="orders.html").nav-item
            +svgSprite(30, 30, 'chat')
            span.nav-link Заявки
          a(href="print.html").nav-item 
            +svgSprite(30, 30, 'play')
            span.nav-link Очередь на печать
          a(href="patients.html").nav-item.is-active 
            +svgSprite(30, 30, 'clients')
            span.nav-link Пациенты
          a(href="payments.html").nav-item 
            +svgSprite(30, 30, 'payments')
            span.nav-link Оплаты
          a(href="depts.html").nav-item 
            +svgSprite(30, 30, 'debts')
            span.nav-link Долги
      .nav-user 
        .nav-user__name Циванюк Ольга
        .nav-user__post Заведующий
      .nav-bottom «Настоящее украшение  — это здоровая и красивая улыбка»
    main.main
      .content
        .container 
          h1.title Пациенты
          .tabs 
            a(href="patients.html").tabs-item.is-active Группировка по клиникам
            a(href="patients-all.html").tabs-item Показать все
              span 186
          .card 
            .card-body 
              .table-responsive
                .table.table-patient
                  .table-head 
                    .table-cell Клиника
                    .table-cell.table-cell--center Пациентов
                    .table-cell
                  a(href="patients-clinic.html").table-row 
                    .table-celll.table-cell--light SmileClinic
                    .table-cell.table-cell--center 143
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patients-clinic.html").table-row 
                    .table-celll.table-cell--light Улыбка
                    .table-cell.table-cell--center 143
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patients-clinic.html").table-row 
                    .table-celll.table-cell--light TeethClinic
                    .table-cell.table-cell--center 143
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patients-clinic.html").table-row 
                    .table-celll.table-cell--light Доктор Дент
                    .table-cell.table-cell--center 143
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
                  a(href="patients-clinic.html").table-row 
                    .table-celll.table-cell--light Ваш Стоматолог 
                    .table-cell.table-cell--center 143
                    .table-cell
                      .show-more
                            +svgSprite(7, 14, 'arrow-right')
    include components/footer
    include includes/scripts