doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/header
    +topPanel(['Оплаты'])
    include components/navigation
    main.main
      .content
        .container 
          h1.title Оплаты
          .row 
            .search 
              input.form-control.search__input(type="text" placeholder="Поиск по ФИО или дате (ДД.ММ.ГГГГ)")
            .btn.btn--big.btn--primary.js-open-modal(data-modal="1") Внести оплату
          .card 
            .card-body 
              .table-responsive
                table.table
                  thead 
                    tr 
                      th Номер
                      th Дата
                      th Сумма
                      th Пациент
                  tbody 
                    tr
                      td #3453
                      td 23.09.2023
                      td 45 000 ₽
                      td Николаев Мечислав Леонидович
                    tr
                      td #3453
                      td 23.09.2023
                      td 45 000 ₽
                      td Николаев Мечислав Леонидович
                    tr
                      td #3453
                      td 23.09.2023
                      td 45 000 ₽
                      td Николаев Мечислав Леонидович
                    tr
                      td #3453
                      td 23.09.2023
                      td 45 000 ₽
                      td Николаев Мечислав Леонидович
          .more-btn 
            .btn.btn--big.btn--icon 
              span Загрузить
          .pagination 
            .pagination-item.is-active 1
            .pagination-item 2
            .pagination-item 3
            .pagination-dots ...
            .pagination-item 4
    include components/footer
    include components/modal
    include includes/scripts