.form {
  &-group {
    width: 100%;
    margin-top: 20px;
    position: relative;
    padding-top: 23px;
      
    @include media(sm) {
      margin-top: 16px;
    }

    &--sm {
      max-width: 235px;
      width: 100%;
    }
  }

  &-label {
    display: block;
    color: var(--white-text-darken);
    font-size: 18px;
    line-height: 160%; 
    margin-bottom: 5px;
    position: absolute;
    top: 38px;
    left: 17px;
    pointer-events: none;
    transition: .3s;

    span {
      color: var(--red);
    }
  }

  &-control {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    padding: 16.5px 14px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 15px;
    border: 1px solid var(--ffffff-20, rgba(255, 255, 255, 0.20));

    &.is-filled + .form-label {
      top: 0;
      left: 0;
      font-size: 14px;
      transition: .3s;
    }

    &:focus + .form-label {
      top: 0;
      left: 0;
      font-size: 14px;
      transition: .3s;
    }

    @include media(sm) {
      font-size: 16px;
      padding: 12px;
    }

    &::placeholder {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 18px */
      opacity: 0.6;

      @include media(sm) {
        font-size: 16px;
      }
    }

    &:focus::placeholder {
      display: none;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    @include media(sm) {
      gap: 0;
      display: block;
    }
  }

  &-btn {
    margin-top: 44px;
  }

  &-agree {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    opacity: 0.6;
    margin-top: 16px;
  }
}
