*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body.noscroll {
  position: fixed;
  left: 0;
  right: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 18px;
  color: var(--white-text);
  background: var(--Background_color, radial-gradient(111.08% 104.98% at 85.52% 14.92%, #072619 0%, #000 100%));
  text-rendering: optimizespeed;
  position: relative;
  font-weight: 400;

  @include media(md) {
    font-size: 15px;
  }

  &.no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

main {
  display: block;
  width: 100%;
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
}

img,
iframe {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

section {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: var(--container);
  width: 100%;
}

.content {
  padding: 50px;

  @include media(lg) {
    padding: 20px;
  }
}

.main {
  padding-left: 380px;
  padding-top: 110px;
  height: 100vh;

  @include media(lg) {
    padding-top: 0px;
    padding-left: 0;
  }
}