h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 44.2px */
  color: var(--white);

  @include media(md) {
    font-size: 26px;
  }
}

h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 39px */

  @include media(md) {
    font-size: 21px;
  }
}
